<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengzg.oms.mapper.DailyInfoMapper">
  <resultMap id="BaseResultMap" type="com.chengzg.oms.entity.DailyInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="date" jdbcType="DATE" property="date" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="pv_count" jdbcType="INTEGER" property="pvCount" />
    <result column="uv_count" jdbcType="INTEGER" property="uvCount" />
    <result column="user_order_count" jdbcType="INTEGER" property="userOrderCount" />
    <result column="order_count" jdbcType="INTEGER" property="orderCount" />
    <result column="order_amount" jdbcType="DECIMAL" property="orderAmount" />
    <result column="user_price" jdbcType="DECIMAL" property="userPrice" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, date, code, pv_count, uv_count, user_order_count, order_count, order_amount, 
    user_price, status, is_del, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_daily_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_daily_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.chengzg.oms.entity.DailyInfo">
    insert into tb_daily_info (id, date, code, pv_count, 
      uv_count, user_order_count, order_count, 
      order_amount, user_price, status, 
      is_del, create_time)
    values (#{id,jdbcType=BIGINT}, #{date,jdbcType=DATE}, #{code,jdbcType=VARCHAR}, #{pvCount,jdbcType=INTEGER}, 
      #{uvCount,jdbcType=INTEGER}, #{userOrderCount,jdbcType=INTEGER}, #{orderCount,jdbcType=INTEGER}, 
      #{orderAmount,jdbcType=DECIMAL}, #{userPrice,jdbcType=DECIMAL}, #{status,jdbcType=INTEGER}, 
      #{isDel,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.chengzg.oms.entity.DailyInfo">
    insert into tb_daily_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="pvCount != null">
        pv_count,
      </if>
      <if test="uvCount != null">
        uv_count,
      </if>
      <if test="userOrderCount != null">
        user_order_count,
      </if>
      <if test="orderCount != null">
        order_count,
      </if>
      <if test="orderAmount != null">
        order_amount,
      </if>
      <if test="userPrice != null">
        user_price,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="date != null">
        #{date,jdbcType=DATE},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="pvCount != null">
        #{pvCount,jdbcType=INTEGER},
      </if>
      <if test="uvCount != null">
        #{uvCount,jdbcType=INTEGER},
      </if>
      <if test="userOrderCount != null">
        #{userOrderCount,jdbcType=INTEGER},
      </if>
      <if test="orderCount != null">
        #{orderCount,jdbcType=INTEGER},
      </if>
      <if test="orderAmount != null">
        #{orderAmount,jdbcType=DECIMAL},
      </if>
      <if test="userPrice != null">
        #{userPrice,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chengzg.oms.entity.DailyInfo">
    update tb_daily_info
    <set>
      <if test="date != null">
        date = #{date,jdbcType=DATE},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="pvCount != null">
        pv_count = #{pvCount,jdbcType=INTEGER},
      </if>
      <if test="uvCount != null">
        uv_count = #{uvCount,jdbcType=INTEGER},
      </if>
      <if test="userOrderCount != null">
        user_order_count = #{userOrderCount,jdbcType=INTEGER},
      </if>
      <if test="orderCount != null">
        order_count = #{orderCount,jdbcType=INTEGER},
      </if>
      <if test="orderAmount != null">
        order_amount = #{orderAmount,jdbcType=DECIMAL},
      </if>
      <if test="userPrice != null">
        user_price = #{userPrice,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chengzg.oms.entity.DailyInfo">
    update tb_daily_info
    set date = #{date,jdbcType=DATE},
      code = #{code,jdbcType=VARCHAR},
      pv_count = #{pvCount,jdbcType=INTEGER},
      uv_count = #{uvCount,jdbcType=INTEGER},
      user_order_count = #{userOrderCount,jdbcType=INTEGER},
      order_count = #{orderCount,jdbcType=INTEGER},
      order_amount = #{orderAmount,jdbcType=DECIMAL},
      user_price = #{userPrice,jdbcType=DECIMAL},
      status = #{status,jdbcType=INTEGER},
      is_del = #{isDel,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>