<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengzg.oms.mapper.SpuInfoMapper">
  <resultMap id="BaseResultMap" type="com.chengzg.oms.entity.SpuInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="spu_code" jdbcType="VARCHAR" property="spuCode" />
    <result column="spu_name" jdbcType="VARCHAR" property="spuName" />
    <result column="spu_cost" jdbcType="DECIMAL" property="spuCost" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, spu_code, spu_name, spu_cost, is_del, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_spu_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_spu_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.chengzg.oms.entity.SpuInfo">
    insert into tb_spu_info (id, spu_code, spu_name, 
      spu_cost, is_del, create_time
      )
    values (#{id,jdbcType=BIGINT}, #{spuCode,jdbcType=VARCHAR}, #{spuName,jdbcType=VARCHAR}, 
      #{spuCost,jdbcType=DECIMAL}, #{isDel,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chengzg.oms.entity.SpuInfo">
    insert into tb_spu_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="spuCode != null">
        spu_code,
      </if>
      <if test="spuName != null">
        spu_name,
      </if>
      <if test="spuCost != null">
        spu_cost,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="spuCode != null">
        #{spuCode,jdbcType=VARCHAR},
      </if>
      <if test="spuName != null">
        #{spuName,jdbcType=VARCHAR},
      </if>
      <if test="spuCost != null">
        #{spuCost,jdbcType=DECIMAL},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chengzg.oms.entity.SpuInfo">
    update tb_spu_info
    <set>
      <if test="spuCode != null">
        spu_code = #{spuCode,jdbcType=VARCHAR},
      </if>
      <if test="spuName != null">
        spu_name = #{spuName,jdbcType=VARCHAR},
      </if>
      <if test="spuCost != null">
        spu_cost = #{spuCost,jdbcType=DECIMAL},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chengzg.oms.entity.SpuInfo">
    update tb_spu_info
    set spu_code = #{spuCode,jdbcType=VARCHAR},
      spu_name = #{spuName,jdbcType=VARCHAR},
      spu_cost = #{spuCost,jdbcType=DECIMAL},
      is_del = #{isDel,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>


  <sql id="whereSql">
    <where>
      AND is_del = 0
      <if test="spuName != null and spuName != ''">
        AND spu_name = #{spuName,jdbcType=VARCHAR}
      </if>
      <if test="spuCode != null and spuCode != ''">
        AND spu_code = #{spuCode,jdbcType=VARCHAR}
      </if>

    </where>
  </sql>

  <sql id="limitSql">
    <if test="start != null and rows != null">
      LIMIT #{start}, #{rows}
    </if>
  </sql>

  <select id="searchListByWhere" parameterType="com.chengzg.oms.model.req.SearchSpuInfoReq" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_spu_info
    <include refid="whereSql"/>
    order by id DESC
    <include refid="limitSql"/>
  </select>

  <select id="searchCountByWhere" parameterType="com.chengzg.oms.model.req.SearchSpuInfoReq" resultType="java.lang.Integer">
    select
    COUNT(id)
    from tb_spu_info
    <include refid="whereSql"/>
  </select>
</mapper>